.Container {
  display: flex;
  margin: auto;
  margin-top: 250px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Formulario {

  width: 400px;
  height: 400px;
}
